.custom-border-image {
  border-radius: 20px;
}

.custom-border-image:hover {
  cursor: pointer;
}

.box {
  display: inline-block;
  box-sizing: border-box;
}
.img-preview {
  overflow: hidden;
}

.peg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://ik.imagekit.io/mevius/lego/v2-peg_W68re12o5m.png?tr=w-16,h-16:cm-pad_extract,w-20,h-20,q-80,f-png);
  background-repeat: repeat;
  background-size: 20px 20px;
  z-index: 200;
}

.display {
  display: block;
}

.container32 {
  position: relative;
  width: 640px;
  height: 640px;
  text-align: center;
  margin: 1em auto;
}
.container48 {
  position: relative;
  width: 960px;
  height: 960px;
  text-align: center;
  margin: 1em auto;
}

.overflow-y {
  overflow-x: scroll;
  overflow-y: hidden;
}

.loading-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
  /* opacity: 0.5; */
  padding-top: 40vw;
  padding-left: 45vw;
  font-size: 1.2em;
  background-color: white;
  z-index: 12345678;
}
